<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{HeaderTemplate.html :: head}">
</head>
<body style="width: 600px;">
    <div th:insert="~{HeaderTemplate.html :: body}"></div>
    <p>You're receiving this email because you requested a password reset for your user account.</p>
    <p>Here is your new password: <span style="color: blue;">[[${new_password}]]</span></p>
    <p>You can change it in your user setting after you log in.</p>
    <footer th:insert="~{FooterTemplate.html :: body}"></footer>
</body>
</html>